@import "tailwindcss";

@theme  {
  --color-primary-50: oklch(0.95 0.05 85); /* light */
  --color-primary-100: oklch(0.90 0.08 85);
  --color-primary-200: oklch(0.85 0.11 85);
  --color-primary-300: oklch(0.80 0.13 85);
  --color-primary-400: oklch(0.75 0.14 85);
  --color-primary-500: oklch(0.85 0.15 85); /* RGB(253, 188, 25) main */
  --color-primary-600: oklch(0.70 0.16 85);
  --color-primary-700: oklch(0.65 0.17 85);
  --color-primary-800: oklch(0.60 0.18 85);
  --color-primary-900: oklch(0.55 0.19 85); /* dark */
  --color-primary-950: oklch(0.50 0.20 85);
}
